*{
  font-family: 'Gabarito', cursive;
  margin: 0;
}

html{
  scroll-behavior:smooth;
}

a{
  text-decoration: none;
}

.hero{
  position: relative;
    height: 100vh;
    background: linear-gradient(300deg, #F6C90E, rgb(45,45,45), rgb(25,25,25));
    background-size: 200% 200%;
    animation: gradient-animation 60s ease infinite;
}


@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.image{
    height: 450px;
    position: absolute;
    left: 100px;
    top: 250px;
    border-radius: 5%;
    z-index: 1;
}
.yellowbox{
  background-color: #F6C90E;
  height: 450px;
  width: 380px;
  border-radius: 5%;
  position: absolute;
  left: -150px;
  top: 200px;
}

.hero-secondary{
    position: absolute;
    left: 600px;
    right: 350px;
    top: 475px;
    text-align: center;
}

.yellow{
    color: #F6C90E;
}

.white{
    color: white;
}

.nav{
  position: fixed;
  right: 20px;
  top: 25%;
  display: flex;
  flex-direction: column;
  z-index: 3;
}

.svgicon{
    height: 70px;
    width: 70px;
    border-radius: 50%;
    color: white;
    background-color: rgb(45,45,45);
    margin-bottom: 15px;
    rotate: 0deg;
    transition: rotate 2s;
}

.svgicon:hover{
    background-color: #F6C90E;
    color: rgb(25,25,25);
    rotate: 360deg;
}

.svgicon2{
    height: 70px;
    width: 70px;
    border-radius: 50%;
    color: white;
    background-color: rgb(45,45,45);
    margin-bottom: 15px;
    rotate: 0deg;
    transition: rotate 2s;
}

.svgicon2:hover{
    background-color: rgb(25,25,25);
    color: #F6C90E;
    rotate: 360deg;
}

.education{
    background-color: rgb(25,25,25);
    text-align: center;
    padding-top: 50px;
}

.education-container{
    display: flex;
    width: 100;
    justify-content: space-around;
    padding-top: 100px;
}

.education-card{
    height: 330px;
    width: 400px;
    background-color: rgb(45,45,45);
    border-radius: 10%;
}

#hs{
    color: white;
    margin-top: 20px;
    margin-bottom: 40px;
}

#cg{
    color: #F6C90E;
    margin-top: 20px;
    margin-bottom: 40px;
}

li{
    list-style: none;
    text-align: left;
    padding: 5px;
}

#hsmain li{
    color: #F6C90E;
}

#cgmain li{
    color: white;
}

.skills{
    background-color: rgb(25,25,25); 
    text-align: center;
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


  .skills-container1{
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 100px;
  }

.skills-secondary{
  background-color: rgb(45,45,45);
  padding-top: 75px;
  border-radius: 5%;
  width: 800px;
  display: flex;
  flex-direction: column;
  }

  .otherSkills{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .skills-flex{
    display: flex;
    flex-direction: column;
  }

  .progress-barCSS {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 130px;
    height: 130px;
    border-radius: 50%;
    background:
      radial-gradient(closest-side, rgb(25,25,25) 79%, transparent 80% 100%),
      conic-gradient(#F6C90E 95%, white 0);
    background-color: rgb(25,25,25);
    transition-duration: 0.5s;
  }

  .progress-barCSS:hover{
    scale: 1.2;
  }

  .progress-barCSS::before {
    content: "CSS 95%";
    color: white;
  }

  .progress-barHTML {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 130px;
    height: 130px;
    border-radius: 50%;
    background:
      radial-gradient(closest-side, rgb(25,25,25) 79%, transparent 80% 100%),
      conic-gradient(#F6C90E 95%, white 0);
    background-color: rgb(25,25,25);
    transition-duration: 0.5s;
  }

.progress-barHTML:hover{
  scale: 1.2;
}

  .progress-barHTML::before {
    content: "HTML 95%";
    color: white;
  }

  .progress-barJS {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 130px;
    height: 130px;
    border-radius: 50%;
    background:
      radial-gradient(closest-side, rgb(25,25,25) 79%, transparent 80% 100%),
      conic-gradient(#F6C90E 75%, white 0);
    background-color: rgb(25,25,25);
    transition-duration: 0.5s;
  }

  .progress-barJS:hover{
    scale: 1.2;
  }

  .progress-barJS::before {
    content: "JS 75%";
    color: white;
  }

  .progress-barCPP {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 130px;
    height: 130px;
    border-radius: 50%;
    background:
      radial-gradient(closest-side, rgb(25,25,25) 79%, transparent 80% 100%),
      conic-gradient(#F6C90E 95%, white 0);
    background-color: rgb(25,25,25);
    transition-duration: 0.5s;
  }

.progress-barCPP:hover{
  scale: 1.2;
}

  .progress-barCPP::before {
    content: "C++ 95%";
    color: white;
  }

  .progress-barCSH {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 130px;
    height: 130px;
    border-radius: 50%;
    background:
      radial-gradient(closest-side, rgb(25,25,25) 79%, transparent 80% 100%),
      conic-gradient(#F6C90E 90%, white 0);
    background-color: rgb(25,25,25);
    transition-duration: 0.5s;
  }

  .progress-barCSH:hover{
    scale: 1.2;
  }

  .progress-barCSH::before {
    content: "C# 90%";
    color: white;
  }

  .progress-barSQL {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 130px;
    height: 130px;
    border-radius: 50%;
    background:
      radial-gradient(closest-side, rgb(25,25,25) 79%, transparent 80% 100%),
      conic-gradient(#F6C90E 100%, white 0);
    background-color: rgb(25,25,25);
    transition-duration: 0.5s;
  }

  .progress-barSQL:hover{
    scale: 1.2;
  }

  .progress-barSQL::before {
    content: "SQL 100%";
    color: white;
  }

  .progress-barReact {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 130px;
    height: 130px;
    border-radius: 50%;
    background:
      radial-gradient(closest-side, rgb(25,25,25) 79%, transparent 80% 100%),
      conic-gradient(#F6C90E 40%, white 0);
    background-color: rgb(25,25,25);
    transition-duration: 0.5s;
  }

  .progress-barReact:hover{
    scale: 1.2;
  }

  .progress-barReact::before {
    content: "React 40%";
    color: white;
  }

  .progress-barAngular {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 130px;
    height: 130px;
    border-radius: 50%;
    background:
      radial-gradient(closest-side, rgb(25,25,25) 79%, transparent 80% 100%),
      conic-gradient(#F6C90E 40%, white 0);
    background-color: rgb(25,25,25);
    transition-duration: 0.5s;
  }

  .progress-barAngular:hover{
    scale: 1.2;
  }
  .progress-barAngular::before {
    content: "Angular 40%";
    color: white;
  }


  .projects{
    background-color: rgb(25,25,25);
    height: 850px;
    text-align: center;
    padding-top: 70px;
  }

  .projectscontainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
  }

  .projectcard{
    width: 600px;
    border-radius: 20px;
    height: 350px;
    background: black;
    position: relative;
  }

  .projectcard p{
    z-index: 1;
    position: absolute;
    width: 100%;
    text-align: center;
    top: 45%;
    font-size: 20pt;
  }

  .cardimage{
    background-image: url("./images/servis.jpg");
    background-position: 50%;
    background-size:cover;
    opacity: 0.5;
    height: 350px;
    border-radius: 20px;
  }

  .projectcard img{
    width: 600px;
    border-radius: 20px;
  }

  .gato{
    border-radius:  5%;
    margin-top: 40px;
    width: 600px;
  }

  .projects p{
    color: white;
    text-align: center;
  }

  .contact{
    background-color: rgb(25,25,25);
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .contact-content{
    padding-top: 20px;
  }

  .contact-content svg{
    margin: 30px;
  }


  @media (max-width:850px){

.hero{
  height: 850px;
}

.image{
  top: 200px;
  height: 400px;
}

.yellowbox{
  top: 150px;
  height: 400px;
}

  .hero-secondary{
    left: 100px;
    top: 700px;
    right: 100px;
}

  .nav{
    position: fixed;
    top: 0px;
    display: flex;
    flex-direction: row;
    z-index: 2;
    height: 20;
    background-color: #F6C90E;
    justify-content: center;
    width: 80%;
    left: 10%;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.svgicon{
  margin: 10px;
  height: 65px;
  width: 65px;
}

.education{
  padding-top: 50px;
}

.education-container{
  display: flex;
  flex-direction: column;
  padding-top: 50px;
  align-items: center;
}

.education-card{
  margin-bottom: 20px;
  border-radius: 20px;
}

.skills-container1{
  flex-direction: column;
  padding-bottom: 0px;
  height: 700px;
}

.skills-secondary{
  display: flex;
  padding-top: 0px;
  border-radius: 20px;
  width: 400px;
  justify-content: space-around;
}

.skills-flex{
  flex-direction: row;
  justify-content: space-around;
}

.projects{
  padding-top: 50px;
}

.projectcard{
  width: 500px;
}

.projects img{
  width: 500px;
  border-radius: 20px;
}
.contact{
  background-color: rgb(25,25,25);
  
  padding-top: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-content{
  padding-top: 0px;
}

.contact-content svg{
  margin: 10px;
}

.contacticon{
  height: 60px;
  width: 60px;
}

  }

@media (max-width:576px){

.hero{
  height: 800px;
}
  .nav{
    position: fixed;
    bottom: 0px;
    top: auto;
    text-align: center;
    background-color: #F6C90E;
    justify-content: space-evenly;
    width: 90%;
    left: 5%;
    height: 80px;
    align-items: center;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}
  .svgicon{
    height: 40px;
    width: 40px;
}

.svgicon2{
    height: 40px;
    width: 40px;
}

.image{
  height: 350px;
  left: 7%;
  top: 250px;
}
.yellowbox{
  height: 350px;
  width: 380px;
  left: -150px;
  top: 200px;
}

.hero-secondary{
  position: absolute;
  left: 0px;
  right: 0px;
  top: 50px;
  text-align: center;
}

.education-card{
  width: 330px;
}

.skills-secondary{
  width: 330px;
  border-radius: 20px;
}

.projects{
  height: auto;
}

.projectcard{
  width: 330px;
}

.projects img{
  width: 330px;
}

.contact{
  height: 175px;
}
  
  }

  