*{
  font-family: 'Gabarito', cursive;
  margin: 0;
  -webkit-tap-highlight-color: transparent;
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 8px;
}


::-webkit-scrollbar-track {
  background: rgb(5, 5, 5);
}


::-webkit-scrollbar-thumb {
  background: #F6C90E;
  border-radius: 10px;
}


::-webkit-scrollbar-thumb:hover {
  background: #dbb100;
}

h2{
  font-size: xx-large;
}

a{
  text-decoration: none;
}

.hero{
  position: relative;
    height: 800px;
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover;
    background-image: url("./images/background.png");
}


@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.image{
    height: 450px;
    position: absolute;
    left: 100px;
    top: 150px;
    border-radius: 5%;
    z-index: 1;
}
.yellowbox{
  background-color: #F6C90E;
  height: 450px;
  width: 380px;
  border-radius: 5%;
  position: absolute;
  left: -150px;
  top: 100px;
}

.hero-secondary{
    position: absolute;
    left: 600px;
    right: 350px;
    top: 280px;
    text-align: center;
    font-size: 24pt;
}

#softwaretext, #firstname{
  color: white;
}

.yellow{
    color: #F6C90E;
}

.white{
    color: white;
}

.nav{
  position: fixed;
  right: 20px;
  top: 25%;
  display: flex;
  flex-direction: column;
  z-index: 3;
}

.svgicon{
    height: 70px;
    width: 70px;
    border-radius: 50%;
    color: white;
    background-color: rgb(5,5,5);
    margin-bottom: 15px;
    rotate: 0deg;
    transition: rotate 1.5s;
}

.svgicon:hover{
    background-color: #F6C90E;
    color: rgb(5,5,5);
    rotate: 360deg;
}

.svgicon2{
    height: 70px;
    width: 70px;
    border-radius: 50%;
    color: white;
    background-color: rgb(5,5,5);
    margin-bottom: 15px;
    rotate: 0deg;
    transition: rotate 1.5s;
}

.svgicon2:hover{
    background-color: rgb(5,5,5);
    color: #F6C90E;
    rotate: 360deg;
}

.education{
    background-color: rgb(25,25,25);
    padding-top: 50px;
    text-align: center;
    padding-top: 50px;
}

.education-container{
    display: flex;
    width: 100;
    justify-content: space-evenly;
    padding-top: 50px;
}

.education-card{
    height: 330px;
    width: 400px;
    background-color: rgb(45,45,45);
    border-radius: 20px;
    text-align: center;
}

#infotext{
  text-align: left;
  color: white;
  width: 80%;
  padding-left: 10%;
}

#in{
  color: #F6C90E;
  margin-top: 20px;
  margin-bottom: 30px;
}

#hs{
    color: white;
    margin-top: 20px;
    margin-bottom: 30px;
}

#cg{
    color: #F6C90E;
    margin-top: 20px;
    margin-bottom: 30px;
}

li{
    list-style: none;
    text-align: left;
    padding: 5px;
}

#hsmain li{
    color: #F6C90E;
}

#cgmain li{
    color: white;
}

.skills{
    background-color: rgb(25,25,25); 
    text-align: center;
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


  .skills-container1{
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 80px;
  }

.skills-secondary{
  background-color: rgb(45,45,45);
  padding-top: 75px;
  border-radius: 5%;
  width: 800px;
  display: flex;
  flex-direction: column;
  }

  .otherSkills{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .skills-flex{
    display: flex;
    flex-direction: column;
  }

  .progress-barCSS {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 130px;
    height: 130px;
    border-radius: 50%;
    background:
      radial-gradient(closest-side, rgb(25,25,25) 79%, transparent 80% 100%),
      conic-gradient(#F6C90E 95%, white 0);
    background-color: rgb(25,25,25);
    transition-duration: 0.5s;
  }

  .progress-barCSS::before {
    content: "CSS 95%";
    color: white;
  }

  .progress-barHTML {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 130px;
    height: 130px;
    border-radius: 50%;
    background:
      radial-gradient(closest-side, rgb(25,25,25) 79%, transparent 80% 100%),
      conic-gradient(#F6C90E 95%, white 0);
    background-color: rgb(25,25,25);
    transition-duration: 0.5s;
  }

  .progress-barHTML::before {
    content: "HTML 95%";
    color: white;
  }

  .progress-barJS {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 130px;
    height: 130px;
    border-radius: 50%;
    background:
      radial-gradient(closest-side, rgb(25,25,25) 79%, transparent 80% 100%),
      conic-gradient(#F6C90E 75%, white 0);
    background-color: rgb(25,25,25);
    transition-duration: 0.5s;
  }

  .progress-barJS::before {
    content: "JS 75%";
    color: white;
  }

  .progress-barCPP {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 130px;
    height: 130px;
    border-radius: 50%;
    background:
      radial-gradient(closest-side, rgb(25,25,25) 79%, transparent 80% 100%),
      conic-gradient(#F6C90E 95%, white 0);
    background-color: rgb(25,25,25);
    transition-duration: 0.5s;
  }

  .progress-barCPP::before {
    content: "C++ 95%";
    color: white;
  }

  .progress-barCSH {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 130px;
    height: 130px;
    border-radius: 50%;
    background:
      radial-gradient(closest-side, rgb(25,25,25) 79%, transparent 80% 100%),
      conic-gradient(#F6C90E 90%, white 0);
    background-color: rgb(25,25,25);
    transition-duration: 0.5s;
  }

  .progress-barCSH::before {
    content: "C# 90%";
    color: white;
  }

  .progress-barSQL {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 130px;
    height: 130px;
    border-radius: 50%;
    background:
      radial-gradient(closest-side, rgb(25,25,25) 79%, transparent 80% 100%),
      conic-gradient(#F6C90E 100%, white 0);
    background-color: rgb(25,25,25);
    transition-duration: 0.5s;
  }

  .progress-barSQL::before {
    content: "SQL 100%";
    color: white;
  }

  .progress-barReact {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 130px;
    height: 130px;
    border-radius: 50%;
    background:
      radial-gradient(closest-side, rgb(25,25,25) 79%, transparent 80% 100%),
      conic-gradient(#F6C90E 40%, white 0);
    background-color: rgb(25,25,25);
    transition-duration: 0.5s;
  }

  .progress-barReact::before {
    content: "React 40%";
    color: white;
  }

  .progress-barAngular {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 130px;
    height: 130px;
    border-radius: 50%;
    background:
      radial-gradient(closest-side, rgb(25,25,25) 79%, transparent 80% 100%),
      conic-gradient(#F6C90E 40%, white 0);
    background-color: rgb(25,25,25);
    transition-duration: 0.5s;
  }

  .progress-barAngular::before {
    content: "Angular 40%";
    color: white;
  }

  .progress-barHTML:hover, .progress-barCSS:hover, .progress-barJS:hover, .progress-barCPP:hover, .progress-barCSH:hover,
    .progress-barSQL:hover, .progress-barAngular:hover, .progress-barReact:hover{
      scale: 1.2;
    }

  .projects{
    background-color: rgb(25,25,25);
    height: 850px;
    text-align: center;
    padding-top: 50px;
  }

  .projectscontainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
  }

  .projectcard{
    width: 600px;
    border-radius: 20px;
    height: 350px;
    background: black;
    position: relative;
    transition: 0.2s;
  }

  .projectcard:hover{
    scale: 1.1;
  }

  .projectcard p{
    z-index: 1;
    position: absolute;
    width: 100%;
    text-align: center;
    top: 45%;
    font-size: 20pt;
  }

  .cardimage{
    background-image: url("./images/servis.jpg");
    background-position: 50%;
    background-size:cover;
    opacity: 0.5;
    height: 350px;
    border-radius: 20px;
  }

  .projectcard img{
    width: 600px;
    border-radius: 20px;
  }

  .gato{
    border-radius:  5%;
    margin-top: 40px;
    width: 600px;
  }

  .projects p{
    color: white;
    text-align: center;
  }

  .contact{
    background-color: rgb(25,25,25);
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .contact-content{
    padding-top: 20px;
  }

  .contact-content svg{
    margin: 30px;
  }

  @media (max-width:1300px){

    .hero-secondary{
      left: 600px;
      right: 350px;
      top: 200px;
      font-size: 20pt;
  }

  .education-card
  {
    width: 300px;
    height: 450px;
  }

}

@media (max-width:920px)
{
  .education-card
  {
    width: 280px;
  }
}

  @media (max-width:850px){

.hero{
  height: 850px;
  background-repeat: no-repeat;
  background-position: 49%;
  background-size: cover;
}

.image{
  top: 200px;
  height: 400px;
}

.yellowbox{
  top: 150px;
  height: 400px;
}

  .hero-secondary{
    left: 100px;
    top: 650px;
    right: 100px;
    background-color: rgba(25, 25, 25, 0.5);
    backdrop-filter: blur(8px);
    border-radius: 20px;
}

  .nav{
    position: fixed;
    top: 0px;
    display: flex;
    flex-direction: row;
    z-index: 2;
    height: 20;
    background-color: rgba(25, 25, 25, 0.5);
    justify-content: center;
    width: 100%;
    backdrop-filter: blur(8px);
    right: 0;
}

.svgicon{
  margin: 10px;
  height: 70px;
  width: 70px;
}

.education-container{
  display: flex;
  flex-direction: column;

  align-items: center;
}

.education-card{
  margin-bottom: 20px;
  border-radius: 20px;
  width: 330px;
  height: 330px;
}

.info-card{
  height: 350px;
}

.skills-container1{
  flex-direction: column;
  padding-bottom: 0px;
  height: 700px;
}

.skills-secondary{
  display: flex;
  padding-top: 0px;
  border-radius: 20px;
  width: 400px;
  justify-content: space-around;
}

.skills-flex{
  flex-direction: row;
  justify-content: space-around;
}

.projects{
  padding-top: 50px;
}

.projectcard{
  width: 500px;
}

.projects img{
  width: 500px;
  border-radius: 20px;
}
.contact{
  background-color: rgb(25,25,25);
  
  padding-top: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-content{
  padding-top: 0px;
}

.contact-content svg{
  margin: 10px;
}

.contacticon{
  height: 60px;
  width: 60px;
}

  }

@media (max-width:576px){

  .hero{
    height: 700px;
  }

.hero-secondary{
  top: 200px;
  font-size: 16pt;
  width: 80%;
  margin-left: 10%;
}
  .nav{
    position: fixed;
    bottom: 0px;
    top: auto;
    text-align: center;
    backdrop-filter: blur(8px);
    background-color: #F6C90E90;
    background-color: rgba(25, 25, 25, 0.5);
    justify-content: space-evenly;
    width: 100%;
    height: 80px;
    align-items: center;
}
  .svgicon{
    height: 45px;
    width: 45px;
}

.svgicon2{
    height: 45px;
    width: 45px;
}

.image{
  height: 350px;
  left: 7%;
  top: 280px;
}
.yellowbox{
  height: 380px;
  width: 380px;
  left: -150px;
  top: 200px;
}

.hero-secondary{
  position: absolute;
  left: 0px;
  right: 0px;
  top: 50px;
  text-align: center;
}

.education-card{
  width: 330px;
}

.info-card{
  height: 350px;
}

.skills-secondary{
  width: 330px;
  border-radius: 20px;
}

.projects{
  height: auto;
}

.projectcard{
  width: 330px;
}

.projects img{
  width: 330px;
}

.contact{
  height: 175px;
}
  
  }

  @media (max-width:393px)
  {

    .image{
      height: 300px;
      left: 7%;
      top: 300px;
    }
    .yellowbox{
      height: 300px;
      width: 380px;
      left: -150px;
      top: 250px;
    }
    
  }

  @media (max-width:340px)
  {
    .image{
      height: 280px;
      left: 7%;
    }
    .yellowbox{
      height: 280px;
      width: 380px;
      left: -150px;
    }

    .education-card{
      width: 280px;
    }

    .info-card{
      height: 410px;
    }
    
    .skills-secondary{
      width: 280px;
      border-radius: 20px;
    }

    .projectcard{
      width: 280px;
    }
    
    .projects img{
      width: 280px;
    }

    .progress-barHTML:hover, .progress-barCSS:hover, .progress-barJS:hover, .progress-barCPP:hover, .progress-barCSH:hover,
    .progress-barSQL:hover, .progress-barAngular:hover, .progress-barReact:hover{
      scale: 1;
    }
    
  }

  
